#left{
	background-color: yellow;
	float: left;
	
}
#right{
	background-color: aqua;
	float: right;
	
}
#name{
	text-align: center;
	background-color: blue;
	color: white;
	height: 120px;
}
img{
	border-radius: 50%;

}
#division-section{
	display: flex;
}